{% load i18n %}<div class="charsleft">{{ widget }}<span class="count">{% blocktrans %}<span class="current">{{ current }}</span> characters remaining{% endblocktrans %}</span></div>

<script type="text/javascript" language="javascript">
  $('.charsleft textarea[name="{{ name }}"]').keyup(function() {
    $(this).parent().find('.current').text(charsleft($(this), {{ maxlength }}));
  });
  $('.charsleft textarea[name="{{ name }}"]').change(function() {
    $(this).parent().find('.current').text(charsleft($(this), {{ maxlength }}));
  });
</script>
