<div class="charsleft" data-charsleft-field="{{ name }}" data-maxlength="{{ maxlength }}">{{ widget }}<span class="count">{% trans %}<span class="current">{{ current }}</span> characters remaining{% endtrans %}</span></div>